.contenido {
    display: grid;
    gap: 4rem;
}

@media(min-width: 768px) {
    .contenido {
        grid-template-columns: 3fr 3fr;
        align-items: flex-start;
    }
}

.carrito {
    padding: 3rem 0;
}

.producto {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 4rem;
    align-items: center;
    border-bottom: 1px solid var(--gris);
    padding: 3rem 0;
    position: relative;
}

.producto:last-of-type {
    border: none;
}

.producto p {
    margin: 0 0 1rem 0;
}

.nombre {
    font-weight: 700;
    font-size: 2.2rem;
}

.cantidad {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.cantidad p {
    margin: 0;
}

.precio {
    font-weight: 700;
    color: var(--primary);
}

.precio span {
    font-size: 2.4rem;
}

.subtotal {
    font-weight: 700;
}

.select {
    all: unset;
    padding: .8rem;
    border: 1px solid var(--gris);
    width: 40px;
    text-align: center;
    border-radius: 3px;
}

.eliminar {
    all: unset;
    position: absolute;
    top: 3rem;
    right: 1rem;
    font-weight: bold;
}

.eliminar:hover {
    cursor: pointer;
}

.resumen {
    background-color: #f9fafb;
    padding: 3rem;
    border-radius: 1rem;
}