.article {
    border: solid 1px var(--primary);
}

.entrada {
    max-width: 80rem;
    margin: 0 auto;
}

.contenido {
    padding: 2rem;
}

.contenido h3 {
    font-weight: 400;
    font-size: 2.8rem;
    margin: 0;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-transform: uppercase;
}

.fecha {
    font-size: 1.6rem;
    color: var(--primary);
}

.resumen {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.enlace {
    margin-top: 2rem;
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 900;
    padding: 1rem 5rem;
    border: 2px solid var(--primary);
    transition-property: background-color;
    transition-duration: .3s;
    background-color: var(--primary);
    color: var(--blanco);
}

.enlace:hover {
    color: var(--primary);
    background-color: var(--blanco);
}

.texto {
    white-space: pre-wrap;
}

.blog {
    display: grid;
    gap: 4rem;
}

@media (min-width: 768px) {
    .blog {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .blog {
        grid-template-columns: repeat(3, 1fr);
    }
}