.guitarra {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    column-gap: 1rem;
    align-items: center;
    max-width: 70rem;
    margin: 0 auto;
    border: solid .8px var(--gris);
    border-radius: 1rem;
    padding: 0 2rem;
}

.title {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
}

.content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 1rem;
    align-items: center;
    max-width: 90rem;
    margin: 0 auto;
}

.descripcion {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    font-size: 2rem;
}

.precio {
    color: var(--primary);
    font-size: 5rem;
    font-weight: 800;
    margin: 0;
}

.enlace {
    margin-top: 2rem;
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 900;
    padding: 1rem 5rem;
    border: none;
    background-color: var(--primary);
    transition-property: background-color;
    transition-duration: .3s;
    color: var(--blanco);
}

.formulario {
    display: flex;
    flex-direction: column;
}

.formulario label {
    font-size: 2.2rem;
    color: var(--primary);
}

.formulario select {
    border: 2px solid var(--primary);
    padding: 1.6rem;
    color: var(--primary);
    text-align: center;
}

.formulario input[type="submit"] {
    margin-top: 1.3rem;
    display: block;
    background-color: var(--primary);
    text-transform: uppercase;
    padding: 2rem;
    border: none;
    color: var(--blanco);
    font-weight: 700;
    transition-property: background-color;
    transition-duration: .3s;
}

.formulario input[type="submit"]:hover {
    background-color: var(--negro);
    cursor: pointer;
}