.guitarra {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 1rem;
    align-items: center;
}

.contenido {
    padding: 1rem;
}

.contenido h3 {
    font-size: 3rem;
    text-transform: uppercase;
}

.descripcion {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.precio {
    color: var(--primary);
    font-size: 5rem;
    font-weight: 800;
    margin: 0;
}

.enlace {
    margin-top: 2rem;
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 900;
    padding: 1rem 5rem;
    border: 2px solid var(--primary);
    transition-property: background-color;
    transition-duration: .3s;
    background-color: var(--blanco);
    color: var(--primary);
}